@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Helvetica, Arial, sans-serif;
}

.font-syne {
  font-family: "Syne", sans-serif;
}
.font-rethink-sans {
  font-family: "Rethink Sans", sans-serif;
}

.bg-image {
  background-image: url(https://i.ibb.co.com/Y5mY0Cj/footer-bg-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.css-1scjuq2-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: green;
}

.css-dqh183-MuiBottomNavigation-root .Mui-selected {
  color: #4caf50;
}

a.active {
  color: "";
  background-color: transparent;
}
